/*모든 페이지 상단에 위치하는 코드 START*/

.container {
  display: flex;
  justify-content: space-between;
  background-color: #90d2e4;
  height: 30px;
  overflow: hidden;
  float: right;
}


/*모든 페이지 상단에 위치하는 코드 END*/

.book-container {
  display: flex;
  margin-bottom: 20px;
}
.book-image {
  width: 100px;
  margin-right: 20px;
}
.book-info {
  display: flex;
  flex-direction: column;
}

.book-info h2,
.book-info p {
  text-align: center;
}